[submodule "Mask_RCNN"]
	path = Mask_RCNN
	url = https://github.com/nshamszadeh/Mask_RCNN.git
[submodule "sample-imageinpainting-HiFill"]
	path = sample-imageinpainting-HiFill
	url = https://github.com/nshamszadeh/sample-imageinpainting-HiFill.git
